.logo{
    background-image:url('../images/logo-light.png');
}
header{
    background-color: white;
}
body{
    background-color: rgb(236, 236, 236);
    color: black;
}
.fa-brands, .fa-solid{
    margin-left: 10px;
}