@media only screen 
   and (max-width : 420px) {
      *{
         box-sizing: border-box;
      }
   header{
      justify-content: center;
      background-color: transparent;
      position: fixed;
   }
   .icon-container{
      display: none;
   }
   .navbar{
      display: none;
   }
   .big-header{
      font-size: 50px;
   }
   .about-text{
      width: 100%;
   }
   section{
      box-sizing: border-box;
      max-width: 100vw;
      padding: 50px;
   }
   .parent{
      display: block;
      padding: 0px;
   }
   .parent div{
      width: 90%;
   }
   .project{
      padding: 0px;
   }
   .project-container{
      display: block;
   }
   .project-picture{
      width: 100%;
      height: 300px;
      margin: 0px;
   }
   .project-info{
      width: 100%;
   }
   .h-blog-container{
      margin: 10px 0px;
   }
}